<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.otics.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature android:name="android.hardware.location"
        android:required="true"/>
    <uses-feature android:name="android.hardware.location.gps"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PG32">
        <activity
            android:name=".JadwalSholat"
            android:exported="true"
            android:theme="@style/Theme.PG32A"/>
        <activity
            android:name=".KelolaData"
            android:exported="true"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Pencatatan"
            android:exported="true"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".SettingAccount"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.PG32A" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.PG32A" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_sendto" />
        </provider>

        <activity
            android:name=".PreviewImages"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.PG32PreviewImage" />
        <activity
            android:name=".Register"
            android:exported="true"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".GetStarted"
            android:exported="true"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>